<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Forgot Password</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="shortcut icon" th:href="@{/images/public-transport.png}" type="image/png">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<body class="text-center">
   <form th:action="@{/}" method="get">
        <button class="btn btn-md btn-block" style="background-color: rgb(31, 149, 250);4fa;" type="Submit">Go To Login Page</button>
    </form>
    
	<div class="container">
	
	<br/>
	<h2>Reset Password</h2>
	<br/>
		<div align="center" th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert"  th:utext="${errorMessage}">
		</div>
	<br/><br/>
	
		<form action="#" th:action="@{/forgotpassword}" th:object="${user}"
			method="post">

			<div class="form-group">
				<label for="emailId">Email</label> <input th:field="*{email}"
					type="text" class="form-control" name="email"></input>
			</div>

			<input type="reset" class="btn btn-secondary" value="Clear" /> <input
				type="submit" class="btn btn-primary" value="Reset Password" />

		</form>
		
	</div>
</body>
</html>
