<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Link Opus Card</title>
<link rel="shortcut icon" th:href="@{/images/public-transport.png}" type="image/png">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<body class="text-center">
	<div th:replace="header :: navbar"></div>
	<br />
	<br />
	<br />
	<div class="container">

		<h1>Manage OPUS Cards</h1>

		<div align="center" th:if="${successMessage}"
			class="alert alert-success alert-dismissible fade show" role="alert"
			th:utext="${successMessage}"></div>

		<div align="center" th:if="${errorMessage}"
			class="alert alert-danger alert-dismissible fade show" role="alert"
			th:utext="${errorMessage}"></div>


		<table class="table table-bordered table-hover" id="filterableTable">
			<thead>
				<tr>
					<th data-sort-prop="id">Id</th>
					<th data-sort-prop="type">Number</th>
					<th data-sort-prop="make">Balance</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="record : ${records}">
					<td th:text="${record.id}"></td>
					<td th:text="${record.number}"></td>
					<td th:text="${record.balance}"></td>
					<td><a 
						th:href="@{'/unlink/' + ${record.id} }"> <i
							class="fa fa-trash fa-lg"></i>
					</a></td>

				</tr>
			</tbody>
		</table>


		</main>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
			crossorigin="anonymous"></script>
</body>
</html>