<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Reset Password</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /> -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body class="text-center">
	<h2>Enter new password:</h2>
	<br /><br />
	<div class="container">
		<form action="#" th:action="@{/reset-password}" th:object="${user}"
			autocomplete="off" method="post">

			<div class="form-group">
				<input th:field="*{email}" type="hidden" name="email" readonly></input>
			</div>


			<label for="password">Password</label>
			</td> <input th:field="*{password}" type="password" class="form-control"
				name="password" /> 
				
				<br /><br />
				
				<input type="reset" class="btn btn-secondary"
				value="Clear" /> <input type="submit" class="btn btn-primary"
				value="Submit" />

			</table>
		</form>
	</div>
</body>
</html>
