<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Password Reset Success</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /> -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body class="text-center">
	<form th:action="@{/}" method="get">
		<button class="btn btn-md btn-block"
			style="background-color: rgb(31, 149, 250);4fa;" type="Submit">Go
			To Login Page</button>
	</form>

	<div class="container">

		<br /> <br />
		<div align="center" th:if="${successMessage}"
			class="alert alert-success alert-dismissible fade show" role="alert"
			th:utext="${successMessage}"></div>
		<div class="container">
</body>
</html>